<% provide(:title, "Help") %>

  <h3>Learn more about Ruby On Rails</h3>
  <dl>
      <dt><a href="http://guides.rubyonrails.org/getting_started.html">Getting Started with Rails</a></dt><dd>
        <p>Everything you need to know to install Rails and create your first application.</p>
</dd>  </dl>
  <h3>Models</h3>
  <dl>
      <dt><a href="http://guides.rubyonrails.org/active_record_basics.html">Active Record Basics</a></dt><dd>
        <p>This guide will get you started with models, persistence to database and the Active Record pattern and library.</p>
</dd>      <dt><a href="http://guides.rubyonrails.org/active_record_migrations.html">Active Record Migrations</a></dt><dd>
        <p>This guide covers how you can use Active Record migrations to alter your database in a structured and organized manner.</p>
</dd>      <dt><a href="http://guides.rubyonrails.org/active_record_validations.html">Active Record Validations</a></dt><dd>
        <p>This guide covers how you can use Active Record validations</p>
</dd>      <dt><a href="http://guides.rubyonrails.org/active_record_callbacks.html">Active Record Callbacks</a></dt><dd>
        <p>This guide covers how you can use Active Record callbacks.</p>
</dd>      <dt><a href="http://guides.rubyonrails.org/association_basics.html">Active Record Associations</a></dt><dd>
        <p>This guide covers all the associations provided by Active Record.</p>
</dd>      <dt><a href="http://guides.rubyonrails.org/active_record_querying.html">Active Record Query Interface</a></dt><dd>
        <p>This guide covers the database query interface provided by Active Record.</p>
</dd>      <dt><a href="http://guides.rubyonrails.org/active_model_basics.html">Active Model basics</a></dt><dd class="work-in-progress">Work in progress</dd><dd>
        <p>This guide covers the use of model classes without Active Record.</p>
</dd>  </dl>